* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #1a1b21;
  --secondary: #161619;
  --btn-color: #5093e2;
  --btn-inverse: #ffffff;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* margin: 5px; */

  min-width: 10rem;
  max-width: 20rem;
  background-color: var(--primary);
  color: #ffffff;
  border-radius: 10px;
}
header img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 1px solid red; */
  margin-left: 30px;
  margin-right: 30px;
  gap: 15px;
}
.profile-info {
  text-align: center;
  /* border: 1px solid green; */
}
.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */
  /* border: 1px solid white; */
  /* width: 100%; */
}
.contact-info button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 115px;
  height: 34px;
  padding: 9px 13px 9px 11px;
  border-radius: 6px;
}
/* .contact-info button:hover {
  box-shadow: 1px 1px 1px 1px #888;
} */
.btn-linkedIn {
  background-color: var(--btn-color);
  color: var(--btn-inverse);
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.about-info p {
  font-size: 0.8em;
  color: #dcdcdc;
  margin: 0.2em 0 0.2em 0;
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 42px;
  background-color: var(--secondary);
  border-radius: 0 0 10px 10px;
}
